Repository shuboxio/shubox.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Set up linting and formatting
  .editorconfig
  .eslintrc.cjs
  .lintstagedrc.json
  .prettierignore
  .prettierrc
  eslint.config.cjs
  package-lock.json
  package.json
  tslint.json
Due: prettier --write

docs: add GitHub Actions CI design document
  docs/plans/2025-11-03-github-actions-ci-design.md
Due: prettier --write

chore: add .worktrees/ to .gitignore
  .gitignore
Due: none

fix: update tests for Node.js 22.5.1 compatibility
  .tool-versions
  tests/shubox/error_events.test.ts
  tests/shubox/offline_detection.test.ts
Due: eslint --fix, prettier --write

ci: add GitHub Actions workflow with lint gate and parallel matrix
  .github/workflows/ci.yml
Due: none

Remove the e2e directory
  .gitignore
  e2e/test-upload-accept.spec.ts
Due: eslint --fix, prettier --write

Upgrade vite(st)
  package-lock.json
  package.json
Due: prettier --write

Upgrade node, vite, and vitest
  .github/workflows/ci.yml
  .tool-versions
  package-lock.json
  package.json
Due: prettier --write

Publish v2.0.0
  CHANGES.md
  package.json
Due: prettier --write

Update @types/node
  package-lock.json
  package.json
Due: prettier --write

Remove legacy instances of `"peer": true,`
  package-lock.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,css,html})
